

// Padding
$padding-base: 4px;
$padding-xs: $padding-base * 2;
$padding-sm: $padding-base * 3;
$padding-md: $padding-base * 4;
$padding-lg: $padding-base * 6;
$padding-xl: $padding-base * 8;


// Dialog
$dialog-width: 320px;
$dialog-small-screen-width: 90%;
$dialog-font-size: 16px;
$dialog-border-radius: 16px;
$dialog-background-color:#fff;
$dialog-transition: 0.3s;